div. wrap{
    width : 1000px;
    height : 420px;
    margin: 0px auto;
}

div.title{
    width : 1000px;
    height : 40px;
    background-color : aquamarine;
    text-align : left;
    font-size : 30px;
    font-family : "Impact";
     padding-left: 10px;
}

div.middle{
    width: 1000px; 
    height:320px;
   background-color: cornsilk;
    margin-top: 20px;
    font-size :0px;
}


div.left{
    width:250px;
    height:320px;
    background-color:crimson;
    display:inline-block;
    font-size:30px;
    font-family: "Impact";
    text-align: center;
    vertical-align: top;
    margin-right: 50px;
      
}

div.right{
    width:700px;
    height:320px;
    background-color: blue;
    display:inline-block;
    font-size:30px;
    font-family: "Impact";
    text-align: center;
    vertical-align: top;
}

div.images{
     width:700px;
    height:300px;
}

div.article{
     width:700px;
    height:20px;
    background-color: fuchsia;
    font-size: 15px;
    text-align: left;
}

div.footer{
    width : 1000px;
    height : 40px;
    background-color :cadetblue;
    text-align:right;
    font-size : 30px;
    margin-top: 20px;
}

div.menuitem1{
     width:250px;
    height:100px;
    margin-bottom: 10px;
    background-color: aliceblue;
    text-align: left;
}

div.menuitem2{
     width:250px;
    height:100px;
    margin-bottom: 10px;
    background-color: gold;
    text-align: left;
} 

div.menuitem3{
    width:250px;
    height:100px;
    background-color: lawngreen;
    text-align: left;
}

